.footer {
    background-color: $color-footer;
    display: block;
    height: 180px;
    padding: 20px 25px 0;
    color: white;

    @include screen-desktop {
        height: 100px;
    }

    a {
        display: inline-block;
        color: white;
        width: fit-content;
        height: fit-content;
    }

    &__logo {
        font-size: 1.2em;
    }
}

.footer__bloclinks {
    display: flex;
    flex-direction: column;

    @for $i from 1 through 4 {
        .link#{$i} {
            padding-top: .5em;
        }
    }

    @include screen-desktop {
        flex-direction: row;
        justify-content: flex-start;

        @for $i from 1 through 4 {
            .link#{$i} {
                padding-right: 7em;
            }
        }
    }

    h4 {
        font-size: 0.9em;
        font-weight: normal;
    }

    i {
        padding-right: 5px;
        line-height: 1.5em;
    }

    .footer__icon {
        display: flex;
    }
}