.header {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header_menu {
    display: flex;
    justify-content: center;
    padding: 20px 0 10px;
}

.header__arrow-left {
    font-size: 1.5em;
    position: absolute;
    top: 22px;
    left: 20px;
}