.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    -webkit-animation: font-page linear 3000ms;
    animation: font-page linear 3000ms;
    visibility: hidden;
    z-index: 1;
    // background: white url(/img/logo/ohmyfood@2x.svg) no-repeat center;
    background: white;

    &__logo {
        position: relative;
        display: inline-block;
        color: black;
        font-size: 2em;
        text-align: center;
        opacity: .8;
        z-index: 2;
        transform: scale(1);
        animation: loader-logo ease 3000ms;
    }

    &__anim {
        position: absolute;
        width: 70px;
        height: 70px;
        border: 15px solid $color-tertiary;
        border-radius: 50%;
        border-top-color: $color-primary;
        border-bottom-color: $color-secondary;
        -webkit-animation: loader linear 3000ms;
        animation: loader linear 3000ms;
        visibility: hidden;
        z-index: 3;
    }
}