.image {
    width: 100%;
    height: 250px;

    img {
        width: 100%;
        height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.menu {
    padding: 20px 25px 50px;
    background-color: $color-background;
    border-radius: 50px 50px 0 0;
    position: relative;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.6em;
        }
    }
}

.menu__grid {
    display: grid;

    @include screen-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}

.menu__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    &-subtitle {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1em;
        margin: 45px 0 -15px;
        height: 19px;

        &--underline {
            border: $color-tertiary 2px solid;
            width: 35px;
            height: 0;
        }
    }
}

.anim_menu {
    -webkit-animation: anim_menu 2000ms;
    animation: anim_menu 2000ms;
}

#content-1 {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

#content-2 {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

#content-3 {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.menu__button {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    @include shadow;
    position: relative;
    transition: padding-right 300ms ease-in-out;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        padding-right: 25%;

        .addtocart {
            visibility: visible;
            -webkit-animation: anim-scale-check 300ms ease-in-out;
            animation: anim-scale-check 300ms ease-in-out;
        }

        .check-icon {
            -webkit-animation: rotate-center 300ms ease-in-out;
            animation: rotate-center 300ms ease-in-out;
        }
    }

    &-title {
        margin: 0 0 5px;
        font-size: 1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .addtocart {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-tertiary;
        position: absolute;
        height: 100%;
        width: 20%;
        left: 80%;
        top: 0;
        border-radius: 0 15px 15px 0;
        visibility: hidden;

        .check-icon {
            color: white;
            font-size: 1.5em;
        }

    }
}

.menu__button-byline {
    display: flex;
    justify-content: space-between;

    &-desc {
        margin: 0;
        font-size: 0.9em;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-price {
        margin: 0;
        font-weight: bold;
        padding-left: 10px;
    }
}