body {
    font-family: 'Roboto', sans-serif;
}

.loader__logo {
    font-family: 'Shrikhand', cursive;
}

.menu h1 {
    font-family: 'Shrikhand', cursive;
}

.footer__logo {
    font-family: 'Shrikhand', cursive;
}