body {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Shrikhand', cursive;
    margin: 0;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-titles : black;
$color-shadow : rgb(190, 190, 190);

.header {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header__arrow-left {
    display: none;
}

.top-content {
    display: block;
    text-align: center;
}

.top-content__search {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E9E9E9;
    padding: 15px 10px;
    box-shadow: 0 2px 2px $color-shadow inset;

    .top-content__logoloc {
        padding-left: 60px;
    }

    .top-content__searchfield {
        background-color: transparent;
        border: none;
        padding-left: 15px;
        font-size: 0.9em;
    }
}

.top-content__desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 50px;

    h1 {
        margin: 0;
        width: 70%;
    }

    p {
        font-weight: 100;
        width: 80%;
    }

}

.button {
    background: radial-gradient(ellipse farthest-corner at 20px 0, $color-secondary 0%, $color-primary 100%);
    width: max-content;
    height: 100%;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
}






// Réduction taille images

.label-restaurant__img img {
    width: 20%;
    height: 20%;
}