body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.header {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__arrow-left {
  display: none;
}

.top-content {
  display: block;
  text-align: center;
}

.top-content__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E9E9E9;
  padding: 15px 10px;
  -webkit-box-shadow: 0 2px 2px #bebebe inset;
          box-shadow: 0 2px 2px #bebebe inset;
}

.top-content__logoloc {
  padding-left: 60px;
}

.top-content__searchfield {
  background-color: transparent;
  border: none;
  padding-left: 15px;
  font-size: 0.9em;
}

.top-content__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 50px;
}

.top-content__desc h1 {
  margin: 0;
  width: 70%;
}

.top-content__desc p {
  font-weight: 100;
  width: 80%;
}

.button {
  background: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  color: white;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0 4px 6px #bebebe;
          box-shadow: 0 4px 6px #bebebe;
}

.howtouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.howtouse h2 {
  margin: 0 0 20px 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  width: 80%;
}

.nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 0.8em;
  -webkit-box-shadow: 0 2px 4px #bebebe;
          box-shadow: 0 2px 4px #bebebe;
}

.nav-btn__number {
  color: white;
  background-color: #9356DC;
  border: 2px solid #9356DC;
  border-radius: 50%;
  padding: 0px 5px;
  position: relative;
  right: 10px;
}

.nav-btn__logo {
  color: #7e7e7e;
  padding: 0 25px 0 10px;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 50px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants h2 {
  margin: 0 0 20px 0;
  padding-right: 190px;
}

.label-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 15px 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 2px 4px #bebebe;
          box-shadow: 0 2px 4px #bebebe;
}

.label-restaurant__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 0 10px;
  font-size: 1.1em;
}

.label-restaurant__name h4 {
  margin: 0;
}

.label-restaurant__location {
  font-size: 0.9em;
  padding: 10px 10px 15px 10px;
}

.label-restaurant__location p {
  margin: 0;
}

.label-restaurant__img {
  position: relative;
}

.label-restaurant__img img {
  width: 320px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.label-restaurant__img .label-restaurant__new {
  background-color: #a4f4d1;
  color: #118954;
  font-weight: bold;
  font-size: 0.9em;
  width: 57px;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  bottom: 145px;
  left: 230px;
}

.footer {
  background-color: #353535;
  display: block;
  height: 200px;
  padding-top: 20px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer__logo {
  font-family: 'Shrikhand', cursive;
}

.footer__bloclinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__bloclinks h4 {
  margin: 0;
}

.footer__bloclinks .footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style_index.css.map */