$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-titles : black;
$color-shadow : rgb(190, 190, 190);
$color-background: #f2f2f2;

@mixin shadow {
    box-shadow: 0 2px 4px $color-shadow;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-titles;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
}

.header__arrow-left {
    font-size: 1.5em;
    position: absolute;
    top: 22px;
    left: 20px;
}

.image {
    width: 100%;
    height: 250px;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.menu {
    padding: 20px 25px 50px 25px;
    background-color: $color-background;
    border-radius: 50px 50px 0 0;
    position: relative;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
            font-family: 'Shrikhand', cursive;
            font-size: 1.6em;
        }
    }

    &__title-heart {
        font-size: 1.5em;
        color: transparent;
        -webkit-text-stroke: 2px black;

        .heart-filled:hover {
            background: linear-gradient(225deg, #9356DC 29%, #FF79DA 85%);
            background-clip: text;
            -webkit-text-stroke: 0px;
            animation: anim-heart 300ms ease;
        }

        @keyframes anim-heart {
            0% {
                opacity: .1;
            }

            50% {
                opacity: .5;
            }

            100% {
                opacity: 1;
            }
        }
    }
}

.menu__grid {
    display: grid;
}

.menu__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: fit-content;

    &-subtitle {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1em;
        margin: 45px 0 -15px 0;
        height: 19px;

        &--underline {
            border: $color-tertiary 2px solid;
            width: 35px;
            height: 0;
        }
    }
}

.anim_menu {
    animation: anim_menu 2000ms;
}

@keyframes anim_menu {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#content-1 {
    animation-delay: 100ms;
}

#content-2 {
    animation-delay: 300ms;
}

#content-3 {
    animation-delay: 500ms;
}

.menu__button {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 10px 10px;
    cursor: pointer;
    @include shadow;
    position: relative;
    transition: padding-right 500ms ease-in-out;

    &:hover {
        padding-right: 75px;

        .addtocart {
            visibility: visible;
            transform: translateX(-100%);

            .check-icon {
                animation: rotate-center 500ms ease-in-out;
            }
        }
    }

    &-title {
        margin: 0 0 5px 0;
        font-size: 1.1em;
    }

    .addtocart {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-tertiary;
        position: absolute;
        height: 100%;
        width: 20%;
        left: 100%;
        top: 0;
        border-radius: 0 15px 15px 0;
        transition: transform 500ms forwards;
        visibility: hidden;

        .check-icon {
            color: white;
            font-size: 1.5em;

            @keyframes rotate-center {
                0% {
                    transform: rotate(0);
                }

                100% {
                    transform: rotate(1turn);
                }
            }

        }

    }
}

.menu__button-byline {
    display: flex;
    justify-content: space-between;

    &-desc {
        margin: 0;
        font-size: 0.9em;
        font-weight: 300;
    }

    &-price {
        margin: 0;
        font-weight: bold;
    }
}

.order-button {
    background: radial-gradient(ellipse farthest-corner at top left, $color-secondary 0%, $color-primary 100%);
    width: max-content;
    margin: 0 auto;
    color: white;
    border-radius: 30px;
    padding: 15px 40px;
    margin-top: 30px;
    box-shadow: 0 4px 6px $color-shadow;
    cursor: pointer;

    &:hover {
        opacity: 70%;
        box-shadow: 0px 8px 6px $color-shadow;
    }
}






// Footer
.footer {
    background-color: #353535;
    display: block;
    height: 180px;
    padding: 20px 25px 0 25px;
    color: white;

    a {
        color: white;
    }

    &__logo {
        font-family: 'Shrikhand', cursive;
        padding-bottom: 15px;
        font-size: 1.2em;
    }
}

.footer__bloclinks {
    display: flex;
    flex-direction: column;

    h4 {
        margin: 0;
        font-size: 0.9em;
        font-weight: normal;
        padding-bottom: 10px;
    }

    i {
        padding-right: 5px;
    }

    .footer__icon {
        display: flex;
    }
}

// Media Queries
@media screen and (min-width: 1200px) {
    .menu__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .footer {
        height: 100px;

        &__bloclinks {
            flex-direction: row;
            justify-content: flex-start;

            h4 {
                padding-right: 100px;
            }
        }
    }
}