$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-titles : black;
$color-shadow : rgb(190, 190, 190);
$color-background: #f2f2f2;

@mixin shadow {
    box-shadow: 0 2px 4px $color-shadow;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-titles;
}

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}

.header__arrow-left {
    font-size: 1.5em;
}

.header__img {
    align-self: center;
}


.image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.menu {
    padding: 20px 25px 0 25px;
    background-color: $color-background;
    border-radius: 50px 50px 0 0;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
            font-family: 'Shrikhand', cursive;
            font-size: 1.6em;
        }
    }

    &__title-heart {
        font-size: 1.5em;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1em;
    }
}

.menu__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.menu__button {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    @include shadow;

    &-title {
        margin: 0;
    }
}

.menu__button-byline {
    display: flex;
    justify-content: space-between;

    &-desc,
    &-price {
        margin: 0;
    }
}







// Footer
.footer {
    background-color: #353535;
    display: block;
    height: 180px;
    padding: 20px 25px 0 25px;
    color: white;

    a {
        color: white;
    }

    &__logo {
        font-family: 'Shrikhand', cursive;
        padding-bottom: 15px;
        font-size: 1.2em;
    }
}

.footer__bloclinks {
    display: flex;
    flex-direction: column;

    h4 {
        margin: 0;
        font-size: 0.9em;
        font-weight: normal;
        padding-bottom: 10px;
    }

    i {
        padding-right: 5px;
    }

    .footer__icon {
        display: flex;
    }
}